.App{
   background-color: #2b2b26;
   color: white;
  /* border: 3px solid red; */
   display: flex; 
  flex-direction: column; 
  /* justify-content: center; */
   /* flex-wrap: wrap; */
   /* height: 100%;
   width: 100%; */
   /* flex: 1; */
  height: 100vh;
}

#video0,#video1,#video2,#video3,#video4,#video5,#video6{
  display: none;
}

.control-buttons{
  color: #D97CA2;  
}